body{
    background-color: antiquewhite;
}

.container-fluid{
    position:relative;
    top:30px;
}

h1{
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: purple;
    border-radius: 15px;
    padding: 10px 60px ;
    color: white;
    box-shadow: 6px 6px 10px black;

}

input{
    margin: 5px;
}

.btn-primary{
    background-color: rgb(68, 75, 173);
}

.card-body{
    border-radius: 20px;
    box-shadow: 6px 6px 10px black;
    background-color: purple;
}

.form-control{
    border-radius: 10px;
}

.form-control{
    border-radius: 10px;
}